/*ul
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	opacity: 1;
	z-index: 10;
}

li a
{
	float: left;
	display: block;
	color: #FFF;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}

li a:hover
{
	background-color: #4d4dff;
}*/
.navbar {
	top: 0;
	left: 0;
	width: 100%;
	top: 0;
	left: 0;
	width: 100%;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4d4dff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.rgt
{
	float: right;
	text-align: center;
}

.but
{
	position: absolute;
	width: 100%;
	top: 5cm;
	text-align: center;
}


.but2
{
	position: absolute;
	width: 100%;
	top: 8cm;
	text-align: center;
}

