<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Your leave Applied</title>
</head>

<body>
        
<div style="background:#e8f1f6">
  <div style="width:70%;padding:30px;margin: auto;font-family:Arial, Helvetica, sans-serif; color:#333; font-size:13px;"> 
    <div style="background:#FFF;padding:30px;line-height:1.5"> <font size="3"><strong>Hi&nbsp;&nbsp;,</strong></font><br>
      <font sized="3">Dear <%= name %>,<p align='justify' style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is an automated email to inform your Leave is applied.<br><br><strong>Details</strong> <br> From Date   :<%=fromdate %><br><br>To Date   :<%=todate %> </p><br>Best regards</font><br>Tamilnadu college of Engineering 
</div>
</body>
</html>
